.HabilidadesContainer{
    display: grid;
    grid-template-columns: 40% 60%;
}
.HabilidadesContainer h2{
    font-size: 80px;
}
.HabilidadesContainer ul{
    text-indent: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #B9D6F2;
    list-style: none;
    background-color: black;
}