.PresentacionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #B9D6F2;
    color: #091C2F;
}

.PresentacionContainer h1{
    font-size: 120px;
}
.PresentacionFoto{
    width: 20%;
    border-radius: 50% 50% 0% 50%;
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait){
    .PresentacionContainer h1{
        font-size: 40PX;

    }
    .PresentacionFoto{
        height: 300px;
        width: 300px;
    }
}