/* Establece los estilos iniciales para los enlaces */
.TopnavContainer a {
    font-size: 24px;
    text-decoration: none;
  }
  
  /* Cambia el tamaño de fuente en el hover */
  .TopnavContainer a:hover {
    font-size: 28px;
  }
  
  /* Cambia el tamaño de fuente cuando el enlace está activo (seleccionado) */
  .TopnavContainer a:active,
/* Cambia el tamaño de fuente y el color cuando el enlace está activo (seleccionado) */
.TopnavContainer ul li a.active {
    font-size: 27px;
    color: #ff0000; /* Cambia esto al color deseado */
}

  
  /* Establece los estilos para el menú fijo en la parte superior */
  .TopnavContainer {
    background-color: #B9D6F2;
    position: fixed;
    width: 100%;
  }
  
  .TopnavContainer ul {
    list-style: none;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
  }
  .TopnavCointainer ul li a{
    animation: 1s;
    transition: ease-in;
  }