
*{
  margin: 0px;
  padding: 0px;
}

html{

  max-height: 100vh;
  scroll-behavior: smooth;
}
main{
  max-height: 100vh;
}

html main{ 
  background-color:#B9D6F2;
  color: #091C2F;
}
div h2{
    color: #d1d5db;
    font-size: 80px;
    background-color: black;
}
div ul {
  font-size: 40px;
}

a{
  color: black;
}