
*{
  margin: 0px;
  padding: 0px;
}

html{
  max-width: 100vw;
  background-color: black;
  max-height: 100vh;
  scroll-behavior: smooth;
}
main{
  margin: 0px;
  padding: 0px ;
  max-height: 100vh;
  max-width: 100vw;
}

html main{ 
  background-color:#B9D6F2;
  color: gray;
}
div h2{
    color: #d1d5db;
    font-size: 80px;
    background-color: black;
}
div ul {
  font-size: 40px;
}

section{
  background-color: black;
  height: 100vh;
}